<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    id="1"
    photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/AD72115B9CDAE873B2234BD0908CEF7B45A2D9AD9C66C699239B46E582F70A8B/scale?width=1200&aspectRatio=1.78&format=jpeg"
    cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
    cardDescription="Marvel studios anuncia novo filme do homem de ferro."></app-big-card>
  </div>
  <div class="articles__other">
    <app-small-card
    id="2"
    photoCover="https://tm.ibxk.com.br/2022/05/04/04181551056727.jpg?ims=1200x675"
    cardTitle="Qual é a cronologia dos filmes da Marvel?"></app-small-card>

    <app-small-card
    id="3"
    photoCover="https://cinebuzz.uol.com.br/media/uploads/as_marvels_deadpool_3_e_mais_quais_sao_os_proximos_filmes_da_marvel.jpg"
    cardTitle="'As Marvels', 'Deadpool 3' e mais: quais são os próximos filmes da Marvel?"></app-small-card>

    <app-small-card
    id="4"
    photoCover="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/10/11/1420548167-as-marvels-marvel-studio-x.jpg"
    cardTitle="Marvel divulga os pôsteres oficiais de 'As Marvels'"></app-small-card>
  </div>
</div>
